.jumbotron {
	background-image: url("ressources/Background2.jpg");
	background-repeat:no-repeat;
    background-position: top center;
}

.title{
    color: black;
}
.title:visited{
    color: black;
}
.title:hover{
    color: black;
}
.title:active{
    color: black;
}